@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
}

body {
    background: #ffffff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background: rgb(241, 242, 246);
    color: rgb(0, 0, 0);
    border-radius: 17px;
    padding: 20px;
    box-shadow: 0 0 20px #ccc;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.label-input {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 12px 10px;
    transition: ease-in-out .3s;
    background: rgb(243, 244, 247);
}

input:hover {
    background: #fff;
    border-color: rgba(0, 0, 0, .4);
}

input:focus {
    outline: none;
}

button {
    border-radius: 10px;
    border: none;
    background: #fffaf4;
    color: black;
}

#results {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 10px;
}

.data-container {
    background: rgb(241, 242, 246);
    border-radius: 15px;
    padding: 20px;
}